body {
	background-color: aqua;
}

button {
	display: none;
}

p {
	display: none;
	border: 1px solid black;
}

#buttonStart {
	display: inline;
}

#buttonOptions {
	display: inline;
}

#increaseColors {
	
}

#decreaseColors {
	
}

#amountColors {
	
}