body {
	background-color: aqua;
}

button {
	display: none;
}

p {
	display: none;
	border: 1px solid black;
}

canvas {
	border: 1px solid black;
	display: none;
	position: absolute;
	top: 10px;
	left: 527.1px;
}

#buttonStart {
	display: inline;
}

#buttonOptions {
	display: inline;
}

#increaseColors {
	background-color: green;
	border: 1px solid black;
}

#decreaseColors {
	background-color: red;
	border: 1px solid black;
}

#amountColors {
	
}